.table-container {
    padding: 1rem;
    width: fit-content;
    font-size: 0.8rem;
}

.firewall-table {
    /* width: 100%; */
    border-collapse: collapse;
    color: white;
}

.firewall-table th,
.firewall-table td {
    padding: 0.5rem;
    text-align: center;
}

.firewall-table th:first-child,
.firewall-table td:first-child {
    border-right: 2px solid white;
    /* Divider between first and other columns */
}

.firewall-table th,
.firewall-table td {
    border-bottom: none;
    /* Horizontal row dividers */
}