.selectContainer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  gap: 15px;
  width: 100%;
  height: 100%;
  .selectContent {
    width: 100%;
    height: 100%;
    background-color: #ffffff1a;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border-radius: 9px;
    appearance: none;

    .optionStyle {
      background-color: #5e5e5e; // Desired background color
      color: #ffffff; // Desired text color
    }
  }
  .iconContainer {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
