.ibs-table-container {
    padding: 1rem;
    width: 100%;
    font-size: 0.8rem;
    background-color: #ffffff1a;
    border-radius: 0.5rem;
    /* margin-bottom: 1rem; */
}

.ibs-service-table {
    width: 100%;
    border-collapse: collapse;
    color: white;
    /* border-spacing: none; */
}

.ibs-service-table th,
.ibs-service-table td {
    padding: 0.4rem;
    text-align: center;
    line-height: 0.5rem;
}

.ibs-service-table th:first-child,
.ibs-service-table td:first-child {
    border-right: 2px solid white;
    /* Divider between first and other columns */
    width: 9rem;
}

.ibs-service-table th,
.ibs-service-table td {
    border-bottom: none;
    /* Horizontal row dividers */
}

.ibs-service-table tbody tr {
    transition: background-color 0.3s ease;
}

.ibs-service-table tbody tr:hover {
    background-color: #f1f1f12f;
    border-radius: 1rem;
    /* Light gray color for the hover effect */
    cursor: pointer;
    /* Change cursor to indicate the row is clickable */
}

.circle {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
}

.ok {
    background-color: #68EB7D;
}

.failed {
    background-color: #FF848C;
}

.null {
    background-color: #C3C7CB;
}

.avail {
    display: flex;
    justify-content: center;
}