* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.hsc-container {
  background-color: #0E0526;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.hsc-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  /* margin: 10; */
}

.hsc-business-metric {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap onto multiple lines */
  gap: 1rem;
  /* Optional: space between items */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.hsc-status-container {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap onto multiple lines */
  gap: 1rem;
  /* Optional: space between items */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.hsc-cluster-status {
  flex: 0 0 87.5%;
  /* flex-grow: 7.45; */
  border-radius: 0.5rem;
  background-color: #ffffff1a;
  height: 30rem;
}

.hsc-bussiness-status {
  flex-grow: 1;
  background-color: #ffffff1a;
  border-radius: 0.5rem;
}

.hsc-service-metric {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap onto multiple lines */
  gap: 1rem;
  /* Optional: space between items */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  flex: 1
}

.hsc-service-1 {
  flex: 1 1 250;
  background-color: #ffffff1a;
  border-radius: 0.5rem;
  /* height: 18rem; */
}

.hsc-service-2 {
  flex: 1 1 350;
  background-color: #ffffff1a;
  border-radius: 0.5rem;
}

.hsc-service-3 {
  flex: 1 1 250;
  background-color: #ffffff1a;
  border-radius: 0.5rem;
}

.hsc-service-4 {
  flex: 1 1 250;
  background-color: #ffffff1a;
  border-radius: 0.5rem;
}

.hsc-service-5 {
  flex: 1 1 250;
  background-color: #ffffff1a;
  border-radius: 0.5rem;
}